name: Demo pipeline
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches: [main, dev]
    
jobs:
    setup-job:
        runs-on: ubuntu-latest
        steps:

            - name: Checkout code
              uses: actions/checkout@v3

            - name: Create file
              run:  |
                 touch github-action.txt
                 echo from demo pipeline ,first job > github-action.txt
                 ls -la
                 echo "Hello World!"
                 cat README.md 
            
            - name:  upload artifact
              uses: actions/upload-artifact@v4  
              with:
                  name: file-artifact
                  path: github-action.txt   
            

              
    
    builds-job:
        needs: 
            - setup-job

        runs-on: ubuntu-latest
        steps:
            - name: display hello world
              run: echo "Hello from windows"
            
            - name: download artifact
              uses: actions/download-artifact@v4
              with:
                    name: file-artifact
            
            - name: display github-action file
              run: cat github-action.txt
             
              
            
    deploy-job:
        needs: builds-job
        runs-on: macos-latest
        steps:
            - name: display hello world
              run: echo "Hello from mac"       
      